# files that aren't necessary to build a binary
adr
deploy
docs
hack
*.md
*.yml
travis.tar.gz*

# files that change frequently and invalidate the cache unnecessarily
_output
callgrind.out* # output by remake --profile