# This file is managed by workstation-setup
authors:
  jg: Joe Gee; jgee
  jk: Jake Schuenke; jschuenke
  jc: John Cornish; jcornish
  kb: Kira Boyle; kirab
  mce: Matthew Conger-Eldeen; mcongereldeen
  mm: Mark Michael; mamichael
  ps: Peter Stone; stonepe
email:
  domain: vmware.com
