clusterName: YOUR_CLUSTER_NAME
enableEvents: false
enableDiscovery: true
flushOnce: FLUSH_ONCE
flushInterval: FLUSH_INTERVALs
defaultCollectionInterval: COLLECTION_INTERVALs


sinks:
- proxyAddress: wavefront-proxy.NAMESPACE.svc.cluster.local:2878
  filters:
    # Filter out generated labels
    tagExclude:
    - 'label?controller?revision*'
    - 'label?pod?template*'
    - 'annotation_kubectl_kubernetes_io_last_applied_configuration'

sources:
  kubernetes_source:
    url: 'https://kubernetes.default.svc'
    kubeletPort: 10250
    kubeletHttps: true
    useServiceAccount: true
    insecure: true
    prefix: 'kubernetes.'

    filters:
      metricDenyList:
      - 'kubernetes.sys_container.*'

  internal_stats_source:
    prefix: 'kubernetes.'

  kubernetes_state_source:
    prefix: 'kubernetes.'

  telegraf_sources:
  # enable all telegraf plugins
  - plugins: [ ]
  - plugins:  [ mysql ]
    conf: |
        servers = ["root:password123@tcp(mysql-release.collector-targets.svc.cluster.local:3306)/?tls=false"]
        table_schema_databases                    = []
        gather_table_io_waits                     = true
        gather_table_lock_waits                   = true
        gather_index_io_waits                     = true
  - plugins:  [ memcached ]
    conf: |
        servers = ["memcached-release.collector-targets.svc.cluster.local:11211"]

# discovery rules for auto-discovery of pods and services
discovery:
  enable_runtime_plugins: true
  annotation_prefix: 'wavefront.com'
