# This file is managed by workstation-setup
authors:
  jg: Joe Gee; jgee
  jc: John Cornish; jcornish
  mce: Matthew Conger-Eldeen; mcongereldeen
  mm: Mark Michael; mamichael
email:
  domain: vmware.com
